@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #ffffff;
    --color-secondary: #dadce0;
    --color-success: #198754;
    --color-danger: #dc3545;
    --color-warning: #ffc107;
    --color-info: #0dcaf0;
    --color-light: #f8f9fa;
    --color-dark: #212529;

    --size-smaller: 6px;
    --size-small: 12px;
    --size-medium: 24px;
    --size-large: 48px;
    --size-larges: 64px;

    --border-1px-light: 1px solid var(--color-light);
    --border-1px-dark: 1px solid var(--color-dark);
    --border-1px-danger: 1px solid var(--color-danger);
    --border-1px-success: 1px solid var(--color-success);

    --transform-scale: scale(1.1);

    --transition-ease-1: 1s all ease;
    --transition-ease-2: 0.75s all ease;
    --transition-ease-3: 0.5s all ease;
    --transition-ease-4: 0.25s all ease;

    --font-primary: 'Roboto', sans-serif;
}

[data-theme="dark"] {
    --color-light: #212529;
    --color-dark: #f8f9fa;
}

body {
    font-size: var(--size-small);
    background: var(--color-light);
    color: var(--color-dark);
}

.bg-hls {
    background-color: var(--color-dark);
    color: var(--color-light);
    cursor: pointer;
    font-weight: 700;
}

.btn {
    border: none;
    border-radius: var(--size-small);
    padding: var(--size-smaller) var(--size-small);
    cursor: pointer;
    font-size: var(--size-small);
    font-weight: 700;
    transition: var(--transition-ease-1);
}

.btn-danger {
    background-color: var(--color-danger);
    color: var(--color-light);
    border: var(--border-1px-danger);
}

.btn-danger:hover {
    background-color: var(--color-light);
    color: var(--color-danger);
}

.icon-48 {
    height: var(--size-medium);
    width: var(--size-medium);
    border-radius: 50%;
    padding: var(--size-smaller);
    text-align: center;
}

.icon-48:hover {
    background-color: var(--color-dark);
    color: var(--color-light);
    transition: var(--transition-ease-4);
}

.line-succsess {
    border-bottom: var(--border-1px-success);
}

/* navigasi */
nav {
    position: fixed;
    height: 100%;
    bottom: 0;
    font-size: var(--size-medium);
    margin-left: var(--size-medium);
    display: flex;
    align-items: center;

   
}

#navbar {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: var(--color-light);
    border: var(--border-1px-dark);
    border-radius: var(--size-large);
    padding: var(--size-smaller) var(--size-small);
    z-index: 999;
}

#navbar.active {
    border-radius: var(--size-medium);
}

.navbar-nav {
    list-style: none;
    color: var(--color-dark);
}

.navbar-items {
    margin: var(--size-smaller) 0;
    color: var(--color-light);
}

.navbar-links {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--color-dark);
}

.navbar-links:hover .navbar-texts {
    visibility: visible;
    opacity: 1;
    margin-left: var(--size-larges);
    padding: var(--size-smaller) var(--size-small);
    background-color: var(--color-light);
    color: var(--color-dark);
    transition: var(--transition-ease-2);
    border: var(--border-1px-dark);
    border-radius: var(--size-medium);
}

#navbar.active .navbar-links:hover .navbar-texts {
    margin-left: var(--size-medium);
    background-color: var(--color-dark);
    color: var(--color-light);
}

.navbar-links span {
    text-align: center;
}

.navbar-texts {
    margin-left: var(--size-medium);
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

#navbar.active .navbar-texts {
    visibility: visible;
    opacity: 1;
    position: relative;
}

#navbar.active .navbar-texts {
    visibility: visible;
    opacity: 1;
    position: relative;
}

.navbar-togel i {
    background-color: var(--color-danger);
    color: var(--color-light);
    rotate: 180deg;
}

.navbar-togel i:hover {
    background-color: var(--color-danger);
    transition: var(--transition-ease-3);
}

#navbar.active .navbar-togel i {
    rotate: 0deg;
    transition: var(--transition-ease-1)
}

.navbar-mode i {
    background-color: var(--color-dark);
    color: var(--color-light);
}

/* hero */
#hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#hero h1 {
    font-size: 4rem;
    margin-bottom: var(--size-smaller);
    border-bottom: var(--size-smaller) solid var(--color-danger);
}

#hero p {
    font-size: 2rem;
}

#hero-socials {
    font-size: 3rem;
    display: flex;
    gap: 1rem;
}

#hero-socials a {
    text-decoration: none;
    color: var(--color-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-small);
}

#hero-socials a:hover {
    text-decoration: none;
    color: var(--color-danger);
    transform: var(--transform-scale);
    transition: var(--transition-ease-3);
}

#hero-socials span {
    visibility: hidden;
    opacity: 0;
    font-size: var(--size-small)
}

#hero-socials a:hover span {
    visibility: visible;
    opacity: 1;
}





/* aside */
aside {
    position: fixed;
    right: var(--size-medium);
    bottom: var(--size-medium);
    font-size: var(--size-medium);
    display: flex;
    gap: var(--size-medium);
}

aside .container {
    padding: var(--size-smaller) var(--size-small);
    border: var(--border-1px-dark);
    border-radius: 24px;
    background-color: var(--color-light);
    font-weight: 700;
}

#page-nav a {
    color: var(--color-dark);
}

.hiden {
    display: none;
}
/* footer */
footer {
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* main */
main {
    height: 100%;
    margin: auto 10%;
}

main section {
    margin-left: var(--size-medium);
}

main section h2 {
    position: sticky;
    background-color: var(--color-light);
    border: var(--border-1px-dark);
    border-radius: var(--size-large);
    margin: auto 20%;
    padding: var(--size-small);
    font-size: var(--size-medium);
    text-align: center;
    cursor: pointer;
    z-index: 888;
}

main section h2 span {
    margin-left: var(--size-small);
}

main section h2:hover {
    background-color: var(--color-dark);
    color: var(--color-light);
    transition: var(--transition-ease-3);
}

main section div {
    display: flex;
    gap: var(--size-medium);
    
}